---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'games'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroImage2 } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<div class="container">
		<Header />

		<div class="hero">
			<h1>{title} </h1>
		</div>
		
		<main style="margin-bottom: 5px;">
			<div class="post">
				<tag class="accent"><FormattedDate date={pubDate} /></tag>
				 {
					updatedDate && (
						<div class="last-updated-on completed" style="padding: 2px 4px;">
							COMPLETED: <FormattedDate date={updatedDate} />
						</div>
					)
				}
				<img src={heroImage?.src} />
				<img src={heroImage2?.src} />
				<slot />
			</div>
		</main>
		
		</div>
		<Footer />
	</body>
</html>
