---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'games'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<div class="container">
		<Header />
		<main style="margin-bottom: 5px;">
			<div class="post">
				<tag class="accent"><FormattedDate date={pubDate} /> {
					updatedDate && (
						<div class="last-updated-on">
							&nbsp; &#183; Game Completed on: <FormattedDate date={updatedDate} />
						</div>
					)
				}</tag>
				<div class="post-block-header">{title}</div>
				<slot />
			</div>
		</main>
		
		</div>
		<Footer />
	</body>
</html>
